body {
    background: linear-gradient(to bottom, #add8e6, #000080);
    background-attachment: fixed;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
